{% extends 'Back.html' %}
{% block content %}
<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Посты</h1>

        <form action="/admin/insert/" method="post">
            <input type="hidden" name="fields" value="{{ value.insert }}">
            <input type="submit" class="btn btn-info" value="Добавить запись">
        </form>


    </div>


    {% set thead = table.0 %}
    {% if value.thead %}
        {% set thead = value.thead %}
    {% endif %}

    <hr>
    <table class="table">
        <thead>
        <tr>
            {% for head, r in thead %}
            <th>{{ head }}</th>
            {% endfor %}
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        {% for row in value.table %}
        <tr>
            {% for cell in row %}
            <td>{{ cell[:100] }}</td>
            {% endfor %}

            {% set str = 'строка' %}


            <td>
                <!--Форма для редактирования-->
                <form action="/admin/update/?id={{ row.Pk }}" method="post">
                    <input type="hidden" name="fields" value="{{ value.insert }}">
                    <input type="submit" class="btn btn-info" value="Редактировать">
                </form>
                <!--Форма для удаления-->
                <br>
                <form action="/admin/delete/?id={{ row.Pk }}" method="post">
                    <input type="hidden" name="fields" value="{{ value.insert }}">
                    <input type="submit" class="btn btn-danger" value="Удалить">
                </form>
        </tr>
        {% endfor %}
        <?php endforeach ?>
        </tbody>
    </table>

</div>
{% endblock%}