{% extends 'Back.html' %}
{% block content %}
<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Артисты</h1>


        <h2><a href="/controllers/admin/insert">Добавить артиста</a></h2>


    </div>

    <hr>
    <table class="table">
        <thead>
        <tr>
            {% for head, r in table.0 %}
                <th>{{ head }}</th>
            {% endfor %}
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
            {% for row in table %}
        <tr>
            {% for cell in row %}
            <td>{{ cell }}</td>
            {% endfor %}
            <td><p><a href="/controllers/admin/edit/?id=<?php echo $row['Id Новости'] ?>">Редактировать</a></p>
                <p><a href="/controllers/admin/delete/?id=<?php echo $row['Id Новости'] ?>">Удалить</a></p></td>
        </tr>
            {% endfor %}
        <?php endforeach ?>
        </tbody>
    </table>

</div>
{% endblock%}