{% extends 'back.html' %}
{% block content %}
<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Добавить запись</h1>

    </div>
    <hr>
    <h3>Добавить запись</h3>

    <div class="col-sm-10 col-sm-offset-0 blog-sidebar">
        <p class="sidebar-module sidebar-module-inset">

            <form class="form-group-sm" action="/admin/save/" method="post" enctype="multipart/form-data">

                {% for k, val in items %}
                    {% if val == '__id' %}
                        <input name="{{ k }}" type="hidden" value="{{null}}">
                    {% else %}
                    <div class="row">
                        <div class="col-sm-4 ">
                            {{ k }}
                        </div>
                    <div class="col-sm-12">
                        <input name="{{ val }}" type="text" class="form-control">
                        </div></div>
                    {% endif %}
                {% endfor %}
                <input name="action" type="hidden" value="{{ action }}">
                <div class="col-sm-12">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Опубликовать запись">
                </div>
            </form>

        </div>
    </div>
</div>
</div>
{% endblock %}