{% extends 'Back.html' %}
{% block content %}
<div class="container">

    <div class="blog-header">
        <h1 class="blog-title">Посты</h1>


        <h2><a href="/admin/insert">Добавить пост</a></h2>


    </div>

    <hr>
    <table class="table">
        <thead>
        <tr>
            {% for head, r in table.0 %}
                <th>{{ head }}</th>
            {% endfor %}
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
            {% for row in table %}
        <tr>
            {% for cell in row %}
            <td>{{ cell[:100] }}</td>
            {% endfor %}

            <td><p><a href="/admin/update/?id={{ attribute( row, 'Id Новости') }}">Редактировать</a></p>
                <p><a href="/admin/delete/?id={{ attribute( row, 'Id Новости') }}">Удалить</a></p></td>
        </tr>
            {% endfor %}
        <?php endforeach ?>
        </tbody>
    </table>

</div>
{% endblock%}